.container {
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 1fr 2.5fr;
    grid-auto-rows: 200px;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.month {
    font-size: 650%;
    text-align: right;
    font-family: Pacifico, serif;
    margin: 20px;
}

.day {
    font-size: 550%;
    text-align: right;
    font-family: Pacifico, serif;
    margin: 20px;
}