@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Tuffy';
    src: url('Tuffy-Regular.ttf');
}

body {
    background-color: #001c4a;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3.5fr;
    /*grid-auto-rows: 170px;*/
    margin-top: -1px;
    margin-bottom: -1px;
}

.month {
    font-size: 550%;
    text-align: right;
    font-family: Pacifico, serif;
    margin: 20px;
    color: white;
}

.day {
    font-size: 550%;
    text-align: right;
    font-family: Pacifico, serif;
    margin: 20px;
    color: white;
    align-self: center;
}

.person {
    font-size: 400%;
    text-align: left;
    align-self: center;
    margin-left: 7%;
    margin-right: 4%;
    font-family: Tuffy, sans-serif;
}

#kyle1 {
    background-color: #00aacc;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 97%;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 30px;
}

#kyle2 {
    background-color: #00aacc;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 70%;
    border-radius: 100px 100px 0 0;
}

#kyle3 {
    background-color: #00aacc;
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 100%;
    border-radius: 0;
}

#kyle4 {
    background-color: #00aacc;
    width: 80%;
    align-self: start;
    justify-self: center;
    height: 99%;
    border-radius: 0 0 100px 100px;
}

#acLina {
    background-color: #d9c302;
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 93%;
    border-radius: 100px 100px 100px 100px;
}

#stella0 {
    background-color: #ff91e7;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 90%;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 30px;
}

#stella1 {
    background-color: #ff91e7;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 100%;
    border-radius: 100px 100px 0 0;
}

#stella2 {
    background-color: #ff91e7;
    width: 80%;
    align-self: start;
    justify-self: center;
    height: 99%;
    border-radius: 0 0 100px 100px;
}

#ashleigh1 {
    background-color: #de0909;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 70%;
    border-radius: 100px 100px 0 0;
}

#ashleigh2 {
    background-color: #de0909;
    width: 80%;
    align-self: start;
    justify-self: center;
    height: 99%;
    border-radius: 0 0 100px 100px;
}

#delaney1 {
    background-color: #10c787;
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 90%;
    border-radius: 100px 100px 100px 100px;
}

#tyler1 {
    background-color: #eb9b34;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 95%;
    border-radius: 100px 100px 0 0;
}

#tyler2 {
    background-color: #eb9b34;
    width: 80%;
    align-self: start;
    justify-self: center;
    height: 95%;
    border-radius: 0 0 100px 100px;
}

#auden1 {
    background-color: #c257e6;
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 90%;
    border-radius: 100px 100px 100px 100px;
}

#audkra1 {
    background-color: #ff3179;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 90%;
    border-radius: 100px 100px 0 0;
}

#audkra2 {
    background-color: #ff3179;
    width: 80%;
    align-self: start;
    justify-self: center;
    height: 98%;
    border-radius: 0 0 100px 100px;
}

#audkra3 {
    background-color: #ff3179;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 96%;
    border-radius: 100px 100px 0 0;
}

#audkra4 {
    background-color: #c257e6;
    width: 80%;
    align-self: start;
    justify-self: center;
    height: 99%;
    border-radius: 0 0 100px 100px;
}

#ikra1 {
    background-color: #ff3179;
    width: 80%;
    align-self: start;
    justify-self: center;
    height: 95%;
    border-radius: 0 0 100px 100px;
}

#romina1 {
    background-color: #1aa214;
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 92%;
    border-radius: 100px 100px 100px 100px;
}

#romina2 {
    background-color: #1aa214;
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 80%;
    border-radius: 100px 100px 100px 100px;
}

#romina3 {
    background-color: #1aa214;
    width: 80%;
    align-self: end;
    justify-self: center;
    height: 97%;
    border-radius: 100px 100px 100px 100px;
}

#romina4 {
    background-color: #1aa214;
    width: 80%;
    align-self: start;
    justify-self: center;
    height: 98%;
    border-radius: 100px 100px 100px 100px;
}

/* FONTS BELOW: */

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.tuffy-regular {
    font-family: "Tuffy", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tuffy-bold {
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.tuffy-regular-italic {
    font-family: "Tuffy", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.tuffy-bold-italic {
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    font-style: italic;
}